@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@theme {
  /* Primitive Colors (Do not change between light and dark) */
  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --snow: oklch(0.9911 0 0);
  --eclipse: oklch(0.2103 0.0059 285.89);

  /* Border */
  --border-width: 1px;
  --field-border-width: 0px;

  /* Base radius */
  --radius: 0.5rem;
  --field-radius: calc(var(--radius) * 1.5);

  /* Opacity */
  --opacity-disabled: 0.5;
}

@layer theme {
  :root {
    @variant light {
      --field-border: transparent; /* no border by default on form fields */
      --link: var(--foreground);
      /* Shadows */
      --surface-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
      --overlay-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 12px 0 rgba(0, 0, 0, 0.01),
        0 14px 28px 0 rgba(0, 0, 0, 0.03);
      --field-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
        0 0 1px 0 rgba(0, 0, 0, 0.06);
      --accent: oklch(93.95% 0.2231 120.04);
      --accent-foreground: oklch(15% 0.03 120.04);
      --background: oklch(12% 0.0015 120.04);
      --border: oklch(28% 0.0015 120.04);
      --danger: oklch(59.4% 0.1973 8.57);
      --danger-foreground: oklch(99.11% 0 0);
      --default: oklch(27.4% 0.0015 120.04);
      --default-foreground: oklch(99.11% 0 0);
      --field-background: oklch(21.03% 0.003 120.04);
      --field-foreground: oklch(99.11% 0.0015 120.04);
      --field-placeholder: oklch(70.5% 0.003 120.04);
      --focus: oklch(93.95% 0.2231 120.04);
      --foreground: oklch(99.11% 0.0015 120.04);
      --muted: oklch(70.5% 0.003 120.04);
      --overlay: oklch(21.03% 0.003 120.04);
      --overlay-foreground: oklch(99.11% 0.0015 120.04);
      /*--scrollbar: oklch(70.5% 0.0015 120.04);*/
      --segment: oklch(39.64% 0.0015 120.04);
      --segment-foreground: oklch(99.11% 0.0015 120.04);
      --separator: oklch(25% 0.0015 120.04);
      --success: oklch(73.29% 0.1941 134.75);
      --success-foreground: oklch(21.03% 0.0059 134.75);
      --surface: oklch(21.03% 0.003 120.04);
      --surface-foreground: oklch(99.11% 0.0015 120.04);
      --surface-secondary: oklch(25.7% 0.0023 120.04);
      --surface-secondary-foreground: oklch(99.11% 0.0015 120.04);
      --surface-tertiary: oklch(27.21% 0.0023 120.04);
      --surface-tertiary-foreground: oklch(99.11% 0.0015 120.04);
      --warning: oklch(82.03% 0.1392 60.28);
      --warning-foreground: oklch(21.03% 0.0059 60.28);
    }
  }
}

@source '../node_modules/heroui-native/lib';
